@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:slnt,wght,ELSH@-8,428,8.7&family=Bitcount+Ink:wght@100..900&family=Bitcount+Single+Ink:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* resets */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--tertiary-font);
}

/* variables */
:root {
  --primary-font: "Bitcount Ink", system-ui;
  --secondary-font: "Bitcount Grid Double", system-ui;
  --tertiary-font: "Playfair Display", serif;
}

/* wrapper */
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 100dvh;
  height: 100vh;
  background: #1c352d;
}
h1 {
  font-size: 50px;
  font-family: var(--secondary-font);
  color: #a6b28b;
  -webkit-animation: bounce-top 0.9s both;
  animation: bounce-top 0.9s both;
}

@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

.size {
  height: 300px;
  width: 300px;
}

.img p {
  font-weight: 700;
  font-size: 20px;
}
h2 {
  font-weight: 800;
  color: #a6b28b;
}

input {
  height: 40px;
  border-radius: 20px;
  padding: 0 5px;
  margin: 15px;
  color: #1c352d;
  text-align: center;
  font-size: 19px;
  outline: none;
}
.butn {
  padding: 10px 20px;
  border-radius: 30px;
  color: #1c352d;
  font-size: 19px;
  border: none;
  cursor: pointer;
  box-shadow: 0 5px 5px #a6b28b;
}

#dialogue {
  display: none;
}

#dialogue.right {
  display: block;
  background: #f9f6f3;
  color: #1c352d;
  font-size: 18px;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 0 0 20px #000;
  width: 300px;
  margin: 20px auto;
  -webkit-animation: bounce-top 0.9s both;
  animation: bounce-top 0.9s both;
}
.disappear {
  display: none;
}

#dialogue.wrong {
  display: block;
  background: #f5c9b0;
  color: #1c352d;
  font-size: 17px;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 0 0 20px #000;
  width: 300px;
  margin: 20px auto;
  -webkit-animation: bounce-top 0.9s both;
  animation: bounce-top 0.9s both;
}

footer {
  background: #481e14;
  color: #a6b28b;
  width: 100%;

  p {
    font-size: 18px;
  }

  a {
    color: #fff;
    font-size: 20px;
  }
}
